#typo3-pagetree-tree { direction:rtl; }

.x-tree-lines .x-tree-elbow{
    background-image: url('../Icons/join.gif');
}
.x-tree-lines .x-tree-elbow-end {
    background: url('../Icons/joinbottom.gif') left top no-repeat;
}

.x-tree-lines .x-tree-elbow-minus {
    background-image: url('../Icons/minus.gif');
}
.x-tree-lines .x-tree-elbow-end-minus {
    background: url('../Icons/minusbottom.gif') right top no-repeat;
}

.x-tree-lines .x-tree-elbow-plus {
    background-image: url('../Icons/plus.gif');
}

.x-tree-lines .x-tree-elbow-line{
	background-image: url('../Icons/line.gif');
}
